  <div class="follow-table">
    <table class="table table-hover  col-10 ">
      <thead>
        <tr>
          <th></th>
          <th>ユーザー</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td>
          <%=link_to customer_path(customer.id) do %>
            <%=image_tag customer.get_profile_image.variant(gravity: :center, resize:"80x80^", crop:"80x80+0+0").processed,class: "rounded-circle" %>
          <% end %>
        </td>
        <td >
          <p><strong><%=customer.name %></strong></p>
          <p class="follow_introduction"><%=customer.introduction %></p>
          <% if customer.is_following_by?(current_customer) %>
            <%=link_to customer_relationships_path(customer),method: :delete do %>
              <button class="btn btn-secondary">フォロー解除</button>
            <% end %>
          <% else %>
            <%=link_to customer_relationships_path(customer),method: :post do %>
              <button class="btn btn-success">フォロー</button>
            <% end %>
          <% end %>
        </td>
        <td class="col-6">
        <% customer.post_items.first(3).each do |post_item| %>
          <%=link_to post_item_path(post_item.id) do%>
            <span class="fw_post_img"><%=image_tag post_item.get_image.variant(gravity: :center, resize:"120x120^", crop:"120x120+0+0").processed,class: "rounded"%></span>
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>

  <!--ページネーションの記述-->
  <div class="row">
    <div class="mx-auto mb-4">
      <%= paginate @customers %>
    </div>
  </div>
  <!--ページネーションの記述ここまで-->
  </div>

