<div class="container customer-show-container">
  <div class="row mx-auto"><!--row1-->
    <div class="col-12 mx-auto"><!--col-12-->
      <div class="card customer-show-card"><!--card-->
        <div class="row no-gutters"><!--row no-gutters-->
          <div class="col-md-4 customer-show-card-left">
            <% if customer_signed_in? %>
              <% if current_customer.email == 'guest@examle.com' %>
                  <h5><%=@customer.name %>さんのプロフィール</h5>
                  <div class="customer-show-contents">
                   <%=image_tag @customer.get_profile_image.variant(gravity: :center, resize:"100x100^", crop:"100x100+0+0").processed%>
                  </div>
              <% elsif  @customer==current_customer %>
                <!--マイページの表示-->
                <h5>マイページ</h5>
                <div class="customer-show-contents"><%=image_tag current_customer.get_profile_image.variant(gravity: :center, resize:"100x100^", crop:"100x100+0+0").processed%></br></div>
                <div class="customer-show-contents"><%=link_to "編集",edit_customer_path(@customer.id),class: "btn btn-primary my-3 col-3" %></br></div>
                <!--マイページの表示ここまで-->
              <% else %>
                <!--自分以外のユーザーの表示-->
                <h5><%=@customer.name %>さんのプロフィール</h5>
                <div class="customer-show-contents">
                  <%=image_tag @customer.get_profile_image.variant(gravity: :center, resize:"100x100^", crop:"100x100+0+0").processed%>
                </div>
                <% if @customer.is_following_by?(current_customer) %>
                  <%=link_to customer_relationships_path(@customer),method: :delete do %>
                    <div class="customer-show-contents"><button class="btn btn-secondary my-3" >フォロー解除</button></div>
                  <% end %>
                <% else %>
                  <%=link_to customer_relationships_path(@customer),method: :post do %>
                    <div class="customer-show-contents"><button class="btn btn-success my-3">フォロー</button></div>
                  <% end %>
                <% end %>
                <!--自分以外のユーザーの表示ここまで-->
              <% end %>
            <% else %>
              <h5><%=@customer.name %>さんのプロフィール</h5>
              <div class="customer-show-contents">
               <%=image_tag @customer.get_profile_image.variant(gravity: :center, resize:"100x100^", crop:"100x100+0+0").processed%>
              </div>
            <% end %>
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title"><strong><%=@customer.name %></strong></h5>
              <table>
                <thead>
                  <tr>
                    <td>性別：<%=@customer.gender_i18n %></td>
                    <td class="pl-5">出身地：<%=@customer.prefecture%></td>
                  </tr>
                </thead>
              </table>
              <table class="customer-introduction-box">
                <tbody>
                  <tr>
                    <td class="introduction-text">＜自己紹介＞</br>
                      <% if @customer.introduction.present? %>
                        <%=@customer.introduction %>
                      <% else %>
                        <p class="not-introduction-text">自己紹介文はまだ書かれていません</p>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--row no-guttersここまで-->
      </div><!--cardここまで-->
    </div><!--col-12ここまで-->
  </div><!--row1ここまで-->

  <div class=customer-post-item><!--customer-post-itemのdiv-->
    <% if customer_signed_in? %>
      <% if @customer==current_customer %>
        <h4><strong>投稿したお土産</strong></h4>
      <% else %>
        <h4><strong>投稿されたお土産</strong></h4>
      <% end %>
    <% else %>
      <h4><strong>投稿されたお土産</strong></h4>
    <% end %>

    <% if customer_signed_in? %>
      <% if current_customer.email == 'guest@examle.com' %>
        <!--ゲスト-->
        <%= render 'post_items_release',post_items_release: @post_items_release %>
      <% elsif @customer==current_customer %>
        <!--マイページ-->
        <%= render 'mypage_post_items',post_items: @post_items %>
      <% else %>
        <!--他ユーザーの詳細ページ-->
        <%= render 'post_items_release',post_items_release: @post_items_release %>
      <% end %>
    <% else %>
      <!--管理者からのユーザーの詳細ページ-->
       <%= render 'post_items_release',post_items_release: @post_items_release %>
    <% end %>
  </div><!--customer-post-itemここまで-->

  <!--ページネーション-->
  <% if customer_signed_in? %>
    <% if @customer==current_customer %>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @post_items %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @post_items_release %>
        </div>
      </div>
    <% end %>
  <% else %>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @post_items_release %>
        </div>
      </div>
  <% end %>
  <!--ページネーションここまで-->

</div><!--containerここまで-->
