<div>
<% if customer_signed_in? %>
　<% if @customer==current_customer %>
    <h5>マイページ</h5>
    <%=image_tag current_customer.get_profile_image(100,100) %>
    <%=link_to "プロフィール編集",edit_customer_path(@customer.id),class: "btn btn-primary" %></br>
　<% else %>

    <h5><%=@customer.name %>さんのプロフィール</h5>
    <%=image_tag @customer.get_profile_image(100,100) %>
    <% if @customer.is_following_by?(current_customer) %>
      <%=link_to customer_relationships_path(@customer),method: :delete do %>
        <button class="btn btn-secondary">フォロー解除</button>
      <% end %>
    <% else %>
      <%=link_to customer_relationships_path(@customer),method: :post do %>
        <button class="btn btn-success">フォロー</button>
      <% end %>
    <% end %>
  <% end %>
<% else %>
 <%=image_tag @customer.get_profile_image(100,100) %>
<% end %>


<%=@customer.name %></br>
性別：<%=@customer.gender_i18n %>
出身地：<%=@customer.prefecture %></br>
＜自己紹介＞</br>
<%=@customer.introduction %>
</div>


<div>
  <h5>投稿したお土産</h5>
    <% @post_items.each do |post_item| %>
    <%=link_to edit_post_item_path(post_item.id) do %>
      <%=image_tag post_item.get_image(150,150) %>
      <%=post_item.name %>
    <% end %>
      <%=post_item.buy_prefecture.name %>
    <% end %>
  </div>
