<div class="container my-4">
  <div class="row">
  <h3 class="my-4"><strong>カテゴリ一覧・追加</strong></h3>
  </div>

  <%= form_with model: @category, url:admin_categorys_path, method: :POST do |f| %>
    <div class="form-group row mx-auto">
      <div class="col-md-2 my-2"><%= f.label :カテゴリ %></div>
      <div class="col-md-3 my-1"><%=f.text_field:name,class: " form-control" %></div>
      <div class="col-md-2 my-1"><%=f.submit "新規登録",class: "btn btn-success" %></div>
    </div>
  <% end %>

  <table class="table col-lg-4 mt-5">
    <thead>
      <tr>
        <th>カテゴリ一覧</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%=category.name %></td>
        <td><%=link_to "編集する",edit_admin_category_path(category.id),class: " btn btn-success" %></td>
        <td><%#=link_to"削除する",admin_category_path(category.id),method: :delete %><!--destroy不要あとでけす--></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>