<div class="container my-5">
  <div class="top-card-container">

    <p class="flash_message mt-3" style="background-color:#FFCCCC; text-align:center; font-size:18px;">
      <%=flash[:notice] %>
    </p>

    <div class="top-about">
      <h2><strong>ようこそ<%= image_tag 'omiyaget_logo.jpg'%>へ</strong></h2>
      <p>おみやGET！ は旅先のお土産探しがもっと</br></p>
      <p >楽しくなるサービスです</p>
    </div>


    <div class="concept">
    <!--<div class="concept">-->
      <div class="concept-card1"><p class="concept-text">探す</p></div>
      <div class="concept-card2"><p class="concept-text">見つかる</p></div>
      <div class="concept-card3"><p class="concept-text">広がる</p></div>
    </div>

    <p class="welcom-text">さあ、始めましょう！</p>

    <div class="row top-page-button"><%=link_to "新規登録",new_customer_registration_path,class:"btn btn-success mx-auto" %></div>
    <div class="row top-page-button"><%=link_to "ログイン", new_customer_session_path,class:"btn btn-primary  mx-auto "%></br></div>

    <div class="row">
      <div class="gest-sign-in">
      <%=form_with model: @customer,url: new_guest_sign_in_path do |f| %>
      まずは使ってみる(閲覧用）
       <%=f.submit 'ゲストログイン',class:"btn btn-secondary" %>
      <% end %>
      </div>
    </div>

  </div>
</div>