<div class="container customer-index-container">

  <h3 class="customer-index-title"><strong>会員一覧</strong></h3>

  <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th>ステータス変更</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
      <% @customers.each do |customer| %>

      <!--ゲストユーザーは一覧に表示しない-->
       <% if customer.email == 'guest@examle.com' %>
        <tr>
        <td></td>
        <td>※ゲストユーザー</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <% else %>
      <tr>
        <td><%=customer.id %></td>
         <td><%=link_to customer_path(customer.id) do %><%=customer.name %><% end %></td>
        <td><%=customer.email%></td>

        <% if customer.status_i18n=="有効"%>
          <td><p style="color:green"><strong><%=customer.status_i18n%></strong></p></td>
        <% else %>
          <td><p style="color:red"><strong><%=customer.status_i18n%></strong></p></td>
        <% end %>
        <%=form_with url: admin_customer_path(customer.id),method: :patch do |f| %>
         <td><%= f.select :status, [["有効","active"], ["利用停止中","stop"]] %></td>
         <td> <%=f.submit "更新する",class:"btn btn-success" %></td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

  <!--ページネーション-->
  <div class="row">
    <div class="mx-auto">
      <%= paginate @customers %>
    </div>
  </div>
  <!--ページネーションここまで-->
</div>


