<div class="container">

<h4 class="font-weight-bold">会員一覧</h4>
  <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
           <th>ステータス変更</th>
        </tr>
      </thead>
    <tbody>
      <% @customers.each do |customer| %>

      <!--ゲストユーザーは一覧に表示しない-->
       <% if customer.email == 'guest@examle.com' %>
        <tr>
        <td>1</td>
         <td>※ゲストユーザー</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <% else %>
      <tr>
        <td><%=customer.id %></td>
         <td><%=link_to customer_path(customer.id) do %><%=customer.name %><% end %></td>
        <td><%=customer.email%></td>
        <td><%=customer.is_deleted_i18n%>
        </td>
        <%=form_with url: admin_customer_path(customer.id),method: :patch do |f| %>
         <td><%= f.select :status, [["有効","enrolled"], ["利用停止中","stop"]] %>
        <%=f.submit "更新する" %></td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

<!--以下コメントアウト部分ページネーション-->
  <!--<div class="row mx-auto">-->
  <!--  <div class="col-lg-2 mx-auto">-->
  <!--    <#%= paginate @customers %>-->
  <!--  </div>-->
  <!--</div>-->

</div>


