<div class="container">
  <div class="sign-in-card-container">

  <div  class="sign-in-title">
      <h4><strong>ログイン</strong></h4>
  </div>

  <div class="sign-in-card-body">
    <%=form_with model: @customer,url: customer_session_path do |f| %>
      <!--フラッシュメッセージ表示 -->
      <p class="sign-in-flash-message"><%=flash[:notice] %></p>
      <!--deivseエラーメッセージ表示 -->
      <p class="alert"><%= alert %></p>

      <table class="sign-in-table table-bordered">
        <tbody>
          <tr>
            <th><span> メールアドレス</span></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control form-control-sm col-11 mx-auto" %></td>
          </tr>
          <tr>
            <th><span>パスワード</span></th>
            <td><%= f.password_field :password, autocomplete: "current-password",class: "form-control form-control-sm col-11 mx-auto"%></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
      <%= f.submit "ログイン",class:"btn  mx-auto mt-5",style: "background-color:#FF9900;color:white;"%>
      </div>
    <% end %>
  </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 sign-up-link-box">
      <div class="sign-up-link">
        <h6><strong>新規登録がお済みでない方</strong></h6>
        <%=link_to "こちら", new_customer_registration_path %>から新規登録を行ってください
      </div>
    </div>
  </div>
</div>
