<div class="main-visual">
  <div class="main-visual-text">
    <p>さぁ、あなた好みのお土産を探してみましょう！</p>
  </div>
</div>

<div class="container mb-5" style="width: 90%">
  <div class="row mt-3">

    <%=render 'search_bar',categories: @categories%><!--絞り込み部分テンプレート-->


<div class="main_bar col-md-8 mx-auto">
    <%= flash[:notice] %><!--フラッシュメッセージ-->
      <div class="post-item">
        <div class="post-item-top-bar row mx-auto mb-3">
          <%if @post_item.present? %>
            <div class="ml-4 mt-4 ">
              <div class="d-flex justify-content-start">
                <h5 style="font-family: 'Zen Maru Gothic', sans-serif;">カテゴリー「<%= @post_item.category.name %>」のお土産</h5>
                <p class="ml-4" style="font-size:18px"><%=@post_items_amount%>件ヒットしました</p>
              </div>
              <p><%=link_to "一覧へ戻る",post_items_path %></p>
            </div>


          <% else %>
          <div class="ml-3 mt-4">
            <h5 style="font-family: 'Zen Maru Gothic', sans-serif;">カテゴリー「<%=@category.name%>」はヒットしませんでした</h5>
            <p><%=link_to "一覧へ戻る",post_items_path %></p></div>
          <% end %>
        </div>
        <%=render 'post_items_contents',post_items: @post_items %><!--お土産部分テンプレート-->
      </div><!--post-itemのdiv-->

      <!--ページネーションの記述-->
      <div class="row">
        <div class="mx-auto">
          <%= paginate @post_items %>
        </div>
      </div>
    <!--ページネーションの記述ここまで-->
    </div><!--main_bar col-md-8-->

  </div><!--rowのdiv-->
</div><!--containerのdiv-->











