<h4>お土産情報編集</h4>
<%=form_with model: @post_item,url: post_item_path(@post_item.id) do |f| %>

  <div class="post_image">
    <%= f.label :商品画像 %>
    <%= f.file_field :image,asset: "image/*"%>
  </div>

  <div class="field">
    <%= f.label :商品名 %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group row mx-auto">
    <%=f.label :カテゴリ,class: "col-lg-2" %>
    <%=f.collection_select :category_id,Category.all, :id, :name,{prompt: "--選択してください--"}%></br>
  </div>


  <div class="field">
    <%= f.label :タグを編集 %>
    ※スペースで区切って下さい
    <%= f.text_field :tag_name,value: @tag_list%>
  </div>

  <div class="field">
    <%= f.label :購入時価格（税込） %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :商品レビュー %>
    <%= f.text_area :review,rows: "5"  %>
  </div>



<div id="star-evaluation<%= @post_item.id %>">
    <%= f.label :evaluation,'評価'%>
    <%= f.hidden_field :evaluation, id: :review_star %>


  <!-- 星レビュー表示javascript -->
  <script>
  $('#star-evaluation<%= @post_item.id %>').raty({
    size     : 20,
    starOff:  '<%= asset_path('star-off.jpg') %>',
    starOn : '<%= asset_path('star-on.jpg') %>',
    half: false,
    score: <%= @post_item.evaluation %>,
  });
  </script>
</div>

  <div class="field">
    <%= f.label :購入地域 %>
     <%=f.collection_select :buy_prefecture_id,BuyPrefecture.all, :id, :name,{prompt: "--選択してください--"}%>
  </div>

  <div class="field">
    <%= f.label :購入店舗%>
    <%= f.text_field :shop %>
  </div>

  <div class="field">
    <%= f.label :公開ステータス%>
    <%=f.radio_button :release, :true,checked: true %>
    <%=f.label :release, "公開" %>
    <%=f.radio_button :release, :false %>
    <%=f.label :release, "非公開" %>
  </div>


  <div class="field">
    <%= f.submit "変更する" %>
  </div>
<% end %>
<%=link_to "このお土産を削除",post_item_path(@post_item.id),method: :delete,"data-confirm" => "このお土産情報を削除します。削除した情報は元に戻せません。よろしいですか？" %>


