<div class="container">

  <div class="post-edit-title">
   <h3 class="mt-5" style="font-family: 'Shippori Mincho', serif;">お土産情報編集</h3>
  </div>

  <div class="post-edit-card-container  my-5 mx-auto py-5">
    <%=form_with model: @post_item,url: post_item_path(@post_item.id) do |f| %>
      <div class="post-card-body mx-auto">

      <%=render 'error_messages_post_item',post_item: @post_item %><!--エラーメッセージ部分テンプレート-->

        <table class="post-edit-table table-bordered mx-auto">
          <tbody>
            <tr>
              <th><span>商品画像</span></th>
              <td><%= f.file_field :image,asset: "image/*",class:"ml-3",style:"line-height: 1.5em;"%></td>
            </tr>

            <tr>
              <th><span>商品名</span></th>
              <td><%= f.text_field :name,class:"form-control form-control-sm col-11 mx-auto" %></td>
            </tr>

            <tr>
              <th><span>カテゴリ</span></th>
              <td><%=f.collection_select :category_id,Category.all, :id, :name,{prompt: "--選択してください--"},
              class:"form-control form-control-sm col-11 mx-auto"%></td>
            </tr>

            <tr>
              <th><span>タグを編集</span></th>
              <td><%= f.text_field :tag_name,value: @tag_list,class:"form-control form-control-sm col-11 mx-auto",
              placeholder:"例：伝統工芸　割れ物　(※スペースでタグを追加)"%></td>
            </tr>

            <tr>
              <th><span>購入時価格（税込）</span></th>
              <td>
                <div class="form-inline">
                <%= f.text_field :price,class:"form-control form-control-sm col-6 ml-3"%>円
                </div>
              </td>
            </tr>

            <tr>
              <th><span>商品レビュー</span></th>
              <td><%= f.text_area :review,rows: "5",class:"form-control form-control-sm col-11 mx-auto my-3",
                placeholder: "お土産のレビューを記載して下さい（200字以内）"%></td>
            </tr>

            <tr>
              <th><span><%= f.label :evaluation,'評価'%></span><%= f.hidden_field :evaluation, id: :review_star %></th>
              <td>
                <div class="form-group row ml-3 mt-3" style="line-height: 1.5em" id="star">
                <!-- 評価javascript -->
                  <script>
                    $('#star').empty();
                    $('#star').raty({
                      size     : 16,
                      starOff:  '<%= asset_path('star-off.jpg') %>',
                      starOn : '<%= asset_path('star-on.jpg') %>',
                      half: false,
                      score: <%= @post_item.evaluation %>,
                      scoreName: 'post_item[evaluation]',
                    });
                  </script>
                </div>
              </td>
            </tr>

            <tr>
              <th><span>購入地域</span> </th>
              <td><%=f.collection_select :buy_prefecture_id,BuyPrefecture.all, :id, :name,{prompt: "--選択してください--"},
                class:"form-control form-control-sm col-11 mx-auto"%></td>
            </tr>

            <tr>
              <th><span>購入店舗</span></th>
              <td><%= f.text_field :shop,class:"form-control form-control-sm col-11 mx-auto"%></td>
            </tr>

            <tr>
              <th><span>公開設定</span></th>
                <td>
                  <div class="release-button ml-3">
                  <%=f.radio_button :release, :true,checked: true %>
                  <%=f.label :release, "公開" %>
                  <%=f.radio_button :release, :false %>
                  <%=f.label :release, "非公開" %>
                  </div>
                </td>
            </tr>

          </tbody>
        </table>
      </div><!--post-card-bodyここまで-->
      <div class="field d-flex justify-content-center">
        <%= f.submit "変更する",class:"btn btn-primary mt-4 col-3" %>
      </div>
      <div class="field d-flex justify-content-center">
        <%=link_to "このお土産を削除",post_item_path(@post_item.id),method: :delete,
        class:"btn btn-danger  mt-4 col-3",
        "data-confirm" => "このお土産情報を削除します。削除した情報は元に戻せません。よろしいですか？" %>
      </div>
    <% end %>
  </div><!--post-edit-card-container ここまで-->
</div><!--containerここまで-->