<!--部分テンプレート-->
<div class="main-visual">
  <p>さぁ、あなた好みのお土産を探してみましょう！</p>
</div>
<!--ここまで-->

<div class="main">
  <div class="mainbar">
    <%= flash[:notice] %><!--フラッシュメッセージ-->
    <h3>新着のおみやげ</h3>
    <p>タグ検索</p>

    <!--検索-->
    <div class="search" >
      <%=form_with url: search_post_items_path, local: true,method: :get do |f| %>
       <%=f.text_field :keyword %>
       <%=f.submit "検索" %>
      <% end %>
    </div>


    <% @post_items.each do |post_item| %>
      <%=link_to post_item_path(post_item.id) do %>
       <%=image_tag post_item.get_image(150,150) %>
      <% end %>
      <%=post_item.name %>
      <%=post_item.buy_prefecture.name %>
    <% end %>
  </div>


<!--部分テンプレート-->
  <div class="sidebar">
    <h4>絞り込み検索</h4>
    <h5>カテゴリ</h5>
    <% @categories.each do |category| %>
      <%=link_to post_items_category_search_path(category.id) do %>
        <%= category.name%>
      <% end %>
    <% end %>
    <h5>地域</h5>
    <%= form_with url: post_items_prefecture_search_path, local: true, method: :get do |f| %>
      <%=f.collection_select :buy_prefecture_id,BuyPrefecture.all, :id, :name,{prompt: "--選択してください--"}%>
      <%=f.submit "検索" %>
    <% end %>
  </div>
</div>
<!--ここまで-->