<!--部分テンプレート-->
<div class="main-visual">
  <p>さぁ、あなた好みのお土産を探してみましょう！</p>
</div>
<!--ここまで-->

<div class="main">
  <div class="mainbar">
    <%= flash[:notice] %><!--フラッシュメッセージ-->
    <h3>新着のおみやげ</h3>
    <p>タグ検索</p>

    <!--検索-->
    <div class="search" >
      <%=form_with url: search_post_items_path, local: true,method: :get do |f| %>
       <%=f.text_field :keyword %>
       <%=f.submit "検索" %>
      <% end %>
    </div>


    <% @post_items.each do |post_item| %>
      <%=link_to post_item_path(post_item.id) do %>
       <%=image_tag post_item.get_image(150,150) %>
      <% end %>

      <% if customer_signed_in? %>
        <% if current_customer.email!='guest@examle.com' %>
        <!--ログインしたユーザーがゲストユーザーでないときブックマークアイコン表示-->
         <% if post_item.customer_id!=current_customer.id %>
        <!--自分の投稿したお土産はブックマークできない-->
            <% if post_item.bookmarked_by?(current_customer) %>
             <%=link_to post_item_bookmarks_path(post_item.id),method: :delete do %>
               <%= image_tag 'bookmark_on.jpg',size: "30x30"%>
             <% end %>
            <% else %>
             <%=link_to post_item_bookmarks_path(post_item.id),method: :post do %>
              <%= image_tag 'bookmark_off.jpg',size: "30x30"%>
            <% end %>
            <% end %>
          <% else %>
          <% end %>
        <% else %>
        <% end %>
      <% else %>
      <% end %>

      <%=post_item.name %>
      <%=post_item.buy_prefecture.name %>
    <% end %>
  </div>


<!--部分テンプレート-->
  <div class="sidebar">
    <h4>絞り込み検索</h4>
    <h5>カテゴリ</h5>
    <% @categories.each do |category| %>
      <%=link_to post_items_category_search_path(category.id) do %>
        <%= category.name%>
      <% end %>
    <% end %>
    <h5>地域</h5>
    <%= form_with url: post_items_prefecture_search_path, local: true, method: :get do |f| %>
      <%=f.collection_select :buy_prefecture_id,BuyPrefecture.all, :id, :name,{prompt: "--選択してください--"}%>
      <%=f.submit "検索" %>
    <% end %>
  </div>
</div>
<!--ここまで-->