<h4>お土産情報登録</h4>
<%=form_with model: @post_item,url:  post_items_path do |f| %>

  <div class="post_image">
    <%= f.label :商品画像 %>
    <%= f.file_field :image,asset: "image/*"%>
  </div>

  <div class="field">
    <%= f.label :商品名 %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group row mx-auto">
    <%=f.label :カテゴリ,class: "col-lg-2" %>
    <%=f.collection_select :category_id,Category.all, :id, :name,{prompt: "--選択してください--"}%></br>
  </div>


  <div class="field">
    <%= f.label :タグを追加 %></br>
    ※スペースを入力で複数のタグ追加。
    </br>※例：お菓子  伝統工芸  割れ物
    <%= f.text_field :tag_name %>
  </div>

  <div class="field">
    <%= f.label :購入時価格（税込） %>
    <%= f.text_field :price %>円
  </div>

  <div class="field">
    <%= f.label :商品レビュー %>
    <%= f.text_area :review,rows: "5"  %>
  </div>

  <div class="form-group row" id="star">
    <%= f.label :evaluation,'評価'%>
    <%= f.hidden_field :evaluation, id: :review_star %>

     <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 20,
    starOff:  '<%= asset_path('star-off.jpg') %>',
    starOn : '<%= asset_path('star-on.jpg') %>',
    scoreName: 'post_item[evaluation]',
    half: false,
  });
  </script>
  </div>


  <div class="field">
    <%= f.label :購入地域 %>
    <%=f.collection_select :buy_prefecture_id,BuyPrefecture.all, :id, :name,{prompt: "--選択してください--"}%>
  </div>

  <div class="field">
    <%= f.label :購入店舗%>
    <%= f.text_field :shop %>
  </div>

  <div class="field">
    <%= f.label :公開ステータス%>
    <%=f.radio_button :release, :true,checked: true %>
    <%=f.label :release, "公開" %>
    <%=f.radio_button :release, :false %>
    <%=f.label :release, "非公開" %>
  </div>


  <div class="field">
    <%= f.submit "投稿する" %>
  </div>
<% end %>


