<%if @post_item.present? %>
<h4>"<%=@post_item.buy_prefecture.name%>"のお土産</h4>
<p><%=@post_items.count %>件ヒットしました</p>
    <% @post_items.each do |post_item| %>
      <%=link_to post_item_path(post_item.id) do %>
       <%=image_tag post_item.get_image(150,150) %>
      <% end %>
      <%=post_item.name %>
    <%end %>
<% else %>
<h4>"<%=@buy_prefecture.name%>"はヒットしませんでした</p></h4>
<% end %>