<div class="container post-item-show-container">
<p class="post-item-show-flash"><%= flash[:notice] %></p> <!--フラッシュメッセージ-->
  <div class="row  mx-auto">  <!--row-->
    <div class="post-show-main col-8"> <!--col8-->
      <div class="row post-show-top"> <!--row1-->
        <%=link_to customer_path(@post_item.customer.id) do %>
         <%=image_tag @post_item.customer.get_profile_image.variant(gravity: :center, resize:"80x80^", crop:"80x80+0+0").processed %>
        <% end %>
        <!--お土産編集は自分の商品のみ表示-->
        <%if customer_signed_in? %>
          <% if @post_item.customer_id==current_customer.id %>
            <h4>投稿したお土産</h4>
            <%=link_to "お土産情報編集",edit_post_item_path(@post_item.id),class:"btn btn-primary my-4 " %></br>
          <% else %>
            <h4><%=@post_item.customer.name %>さんの投稿したお土産</h4>
          <% end %>
        <% elsif admin_signed_in? %>
          <h4><%=@post_item.customer.name %>さんの投稿したお土産</h4>
        <%else %>
        <%end %>
      </div>

      <div class="card post-show-card">
        <div class="row">
          <div class="col-md-4">
           <div class="card-image">
              <% if customer_signed_in? %>
                <% if current_customer.email!='guest@examle.com' %>
                <!--ログインしたユーザーがゲストユーザーでないときブックマークアイコン表示-->
                  <% if @post_item.customer_id!=current_customer.id %>
                    <!--自分の投稿したお土産はブックマークできない-->
                    <% if @post_item.bookmarked_by?(current_customer) %>
                       <%=link_to post_item_bookmarks_path(@post_item.id),method: :delete do %>
                         <%= image_tag 'bookmark_on.jpg',size: "30x30",class:"ml-3 mt-2"%>
                         <span class="bookmark">ブックマーク解除</span>
                       <% end %>
                    <% else %>
                      <%=link_to post_item_bookmarks_path(@post_item.id),method: :post do %>
                        <%= image_tag 'bookmark_off.jpg',size: "30x30",class:"ml-3 mt-2"%>
                        <span class="bookmark">ブックマーク</span>
                      <% end %>
                    <% end %>
                  <% else %>
                  <% end %>
                <% else %>
                <% end %>
              <% else %>
              <% end %>
              <div class="post-item-image d-flex justify-content-center">
               <%=image_tag @post_item.get_image.variant(gravity: :center, resize:"150x150^", crop:"150x150+0+0").processed,class:"my-3"%>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <table class="post-show-table">
                <tbody>
                  <p style="font-size:18px"><strong><%=@post_item.name %></strong></p>
                  <tr>
                    <th>購入価格：</th>
                    <td><%=@post_item.price %>円  <span style="font-size:12px">※価格は参考として下さい</span></td>
                  </tr>
                  <tr>
                    <th>購入地域：</th>
                    <td><%=@post_item.buy_prefecture.name%></td>
                  </tr>
                  <tr>
                    <th>購入店舗：</th>
                    <td><%=@post_item.shop %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!--タグの表示-->
      <div class="tag">
        <p class="tag-title"><strong>登録されたタグ</strong></p>
          <div class= "tag-box">
              <% if @post_item.tags.present? %>
                <% @post_item.tags.each do |tag| %>
                  <%= link_to "##{tag.tag_name}", search_post_items_path(keyword: tag.tag_name),class:"show-tag" %>
                <% end %>
              <% else %>
                <p class="no-show-tag">登録されているタグはありません</p>
            <% end %>
          </div>
      </div>
      <!--タグの表示ここまで-->

      <!--星レビュー-->
      <div class="review">
        <div class="row"> <!--row-->
          <p><strong>お土産のレビュー</strong></p>
          <div class="my-3" id="star-evaluation<%= @post_item.id %>">
              <!-- 星レビュー画像表示javascript -->
              <script>
              $('#star-evaluation<%= @post_item.id %>').empty();
              $('#star-evaluation<%= @post_item.id %>')
              .raty({
                size     : 20,
                starOff:  '<%= asset_path('star-off.jpg') %>',
                starOn : '<%= asset_path('star-on.jpg') %>',
                half: false,
                readOnly: true,
                score: <%= @post_item.evaluation %>,
              });
              </script>
              <!-- 星レビュー画像表示javascript -->
          </div>
        </div>
      </div>
      <!--星レビューここまで--!>

      <!--レビュー-->
      <div class="review-box">
        <% if @post_item.review.present? %>
         <p><%=@post_item.review %></p>
        <% else %>
         <p class="no-review-text">レビューはまだ書かれていません</p>
        <% end %>
      </div>
       <!--レビューここまで-->

      <!--投稿日、いいね、コメントここから-->
      <div class="row review-detail">
        <p>投稿日:<%=@post_item.created_at.strftime('%Y/%m/%d') %></p>
        <!--いいね表示※自分のお土産＆管理者ログイン時はいいねの数のみ表示（いいねはできない）-->
        <% if customer_signed_in? %>
          <% if @post_item.customer_id!=current_customer.id %>
            <% if @post_item.favorited_by?(current_customer) %>
              <%= link_to post_item_favorites_path(@post_item), method: :delete do %>
                <p><%= image_tag 'good_icon.jpg',size: "20x20"%>参考になった:<%=@post_item.favorites.count %></p>
              <% end %>
            <% else %>
              <%=link_to  post_item_favorites_path(@post_item),method: :post do %>
               <p><%= image_tag 'good_icon.jpg',size: "20x20" %>参考になった:<%=@post_item.favorites.count %></p>
              <% end %>
            <% end %>
          <% else%>
            <p><%= image_tag 'good_icon.jpg',size: "20x20" %>参考になった:<%=@post_item.favorites.count %></p>
          <% end %>
        <% else %>
          <p><%= image_tag 'good_icon.jpg',size: "20x20" %>参考になった:<%=@post_item.favorites.count %></p>
        <% end %>

        <p><%= image_tag 'comment_icon.jpg',size: "20x20" %>コメント:<%=@post_item.post_comments.count %></p>
      </div>
      <!--投稿日、いいね、コメントここまで-->


      <!--コメント欄ここから-->
      <!--コメント入力欄 ※管理者ログイン時は表示しない-->
      <% if customer_signed_in? %>
        <div class="current-comment">
          <p><strong>コメント</strong></p>
          <table>
            <tbody>
              <%=form_with model:[@post_item,@post_comment] do |f| %>
                <tr>
                  <td>
                    <%=image_tag current_customer.get_profile_image.variant(gravity: :center, resize:"50x50^", crop:"50x50+0+0").processed,
                    class: "rounded-circle mb-3" %>
                  </td>
                  <td class="current-comment-box">
                    <%= f.text_area :comment,class:"form-control ml-1 mb-3",placeholder: "コメントを入力"%>
                  </td>
                  <td>
                    <%=f.submit "  送信  ",class:"btn btn-primary ml-3"%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
      <% end %>

      <% @post_item.post_comments.each do |post_comment| %>
        <table class="comment-box">
          <tbody>
            <tr>
              <td></td>
              <td><p class="post-comment-name"><%=post_comment.customer.name %></p></td>
            </tr>
            <tr>
              <td>
                <%=image_tag  post_comment.customer.get_profile_image.variant(gravity: :center, resize:"50x50^", crop:"50x50+0+0").processed, class: "rounded-circle" %>
              </td>
              <td><div class="post-comment-box"><%=post_comment.comment %></div></td>

              <% if admin_signed_in? %><!--コメントの削除は管理者のみ表示-->
              <td> <%=link_to "コメントを削除", post_item_post_comment_path(@post_item.id,post_comment.id),method: :delete,class:"btn btn-danger ml-3",
              "data-confirm"=>"管理者権限で不適切なコメントを削除します。宜しいですか？" %></td>
              <% else %>
              <% end %>
            </tr>
            <tr>
              <td></td>
            <td><p class="post-comment-date"><%=post_comment.created_at.strftime('%Y/%m/%d')%></p></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <!--コメント欄ここまで-->
    </div><!--col8のdiv-->

    <!--マップ表示-->
    <div class="col-4 map_bar">
          <div class="map-top">
            <h5><strong>お店の場所調べてみませんか？</strong></h5>
            <input id="address" type="textbox" value= "<%=@post_item.shop%>">
            <input id="submit" type="button" value="検索">
          </div>
       <div id='map'></div>

        <!--マップのjavascript-->
        <script>
          function initMap() {
            var test ={lat: <%= @post_item.latitude %>, lng: <%= @post_item.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: test,
            });

            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            // ピンに吹き出しをつける
            var contentString = '店名：<%= @post_item.shop %>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            // ピンの設定
            var marker = new google.maps.Marker({
                position:test,
                map: map,
                title: contentString
            });


            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });

            var geocoder = new google.maps.Geocoder();

            document.getElementById('submit').addEventListener('click', function() {
              geocodeAddress(geocoder, map);
            });
          }

          // 手動検索をする場合（見つかった場合表示、見つからなかった場合それをアラートで表示）
          function geocodeAddress(geocoder, resultsMap)
          {
            var shop = document.getElementById('address').value;
            geocoder.geocode({'address': shop}, function(results, status) {
              if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: results[0].geometry.location
                });
              } else {
                 alert('該当する結果がありませんでした');
              }
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&callback=initMap" async defer></script>
      </div><!--col-4のdiv--> <!--マップ表示ここまで-->
  </div><!--rowここまで-->
</div><!--containerここまで-->




