<!DOCTYPE html>
<html>
  <head>
    <title>Omiyaget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--FontAwesomeに必要な記述-->
    <script src="https://kit.fontawesome.com/1b65209b3e.js" crossorigin="anonymous"></script>
    
     <%# bootstrapをアプリケーション全体に適応させる %>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
