<!DOCTYPE html>
<html>
  <head>
    <title>Omiyaget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--FontAwesomeに必要な記述-->
    <script src="https://kit.fontawesome.com/1b65209b3e.js" crossorigin="anonymous"></script>

     <%# bootstrapをアプリケーション全体に適応させる %>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <header>
    <%=link_to post_items_path do %><%= image_tag 'omiyaget_logo.jpg'%><% end %>


    <% if customer_signed_in? %>

      <% if current_customer.email == 'guest@examle.com'  %>
        <%=link_to "トップへ戻る",destroy_customer_session_path,method: :delete %>
        　<%=image_tag @customer.get_profile_image(65,65) %>
      <% else %>

    <ul>
      <li><%=link_to "マイページ",customer_path(current_customer.id) %></li>
      <li>ブックマーク<%#=link_to "ブックマーク",post_item_bookmarks_path%></li>
      <li>フォロー一覧<%#=link_to "フォロー一覧",following_path %></li>
      <li><%=link_to "ログアウト",destroy_customer_session_path,method: :delete %></li>
    </ul>
    <%=current_customer.name %>
    <%=link_to customer_path(current_customer.id) do %>
     <%=image_tag current_customer.get_profile_image(65,65) %>
    <% end %>
    <%=link_to "お土産情報を投稿",new_post_item_path %>
    <%end%>

    <% elsif admin_signed_in? %>
      <ul>
        <li><%=link_to "会員一覧",admin_customers_path%></li>
        <li><%=link_to "レビュー一覧",admin_review_path %></li>
        <li><%=link_to "カテゴリ一覧",admin_categorys_path %></li>
        <li><%=link_to "ログアウト",destroy_admin_session_path,method: :delete %></li>
      </ul>
       <p>管理者</p>
       <%= image_tag 'admin_icon.jpg',size: "65x65" %>
    <% else %>

    <% end %>
  </header>


  <body>
    <%=flash[:notice] %>
    <%= yield %>
  </body>


  <footer>
  　<p>©️2022 Sakiko Hanada</p>
  </footer>


</html>
