<!DOCTYPE html>
<html>
  <head>
    <title>Omiyaget</title>
    <!--viewportとビューポート-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&family=Shippori+Mincho:wght@500&family=Zen+Maru+Gothic:wght@700&display=swap" rel="stylesheet">
    <!--FontAwesomeに必要な記述-->
    <script src="https://kit.fontawesome.com/1b65209b3e.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="display_body"  style="display: flex; flex-direction: column; min-height: 100vh;">
    <header class="shadow" style="background-color:#FAF0E6;">
      <nav class="navbar navbar-expand-lg navbar-light" >
        
        <!--ロゴ-->
        <!--ゲストユーザーの時のみ、ロゴをクリックしてトップに戻る際ログアウトされる-->
        <% if customer_signed_in? && current_customer.email == 'guest@examle.com' %>
          <%=link_to destroy_customer_session_path,method: :delete,class: " text-dark ml-5" do  %><%= image_tag 'omiyaget_logo.jpg'%><% end %>
        <% else %>
          <a class="logo ml-5" href="/"><%= image_tag 'omiyaget_logo.jpg'%></a>
        <% end %>
        <!--ロゴ-->


        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!--会員がログインしているとき--->
          <% if customer_signed_in? %>
            <% if current_customer.email == 'guest@examle.com'  %><!--メールアドレスがゲストユーザー時-->
              <!--ゲストユーザー-->
              <ul class="navbar-nav mx-auto">
                <li class="nav-item"><%=link_to post_items_path,class: " text-dark" do %><i class="fa-solid fa-gifts"></i> お土産ー覧<% end %></li>
                <li class="nav-item"><%=link_to destroy_customer_session_path,method: :delete,class: " text-dark" do  %><i class="fa-solid fa-user-plus"></i> 新規登録<% end %></li>
                <!--<li class="nav-item"><%#=link_to new_customer_registration_path,class: " text-dark" do %><i class="fa-solid fa-user-plus"></i>新規登録<%# end %></li>-->
                <li class="nav-item"><%=link_to destroy_customer_session_path,method: :delete,class: " text-dark" do  %><i class="fa-solid fa-right-from-bracket"></i> トップへ戻る<% end %></li>
              </ul>
              <div class="header_icon">
                <%= image_tag 'user_icon.jpg',size: "65x65", class: "rounded-circle" %>
                <p style="display:inline-block">ゲストユーザー</P>
              </div>
              <!--ゲストユーザー-->
            <% else %>
              <!--会員-->
              <ul class="navbar-nav mx-auto">
                <li class="nav-item"><%=link_to customer_path(current_customer.id),class: " text-dark" do%><i class="fa-solid fa-user"></i> マイページ<% end %></li>
                <li class="nav-item"><%=link_to post_items_path,class:" text-dark" do %><i class="fa-solid fa-gifts"></i>お土産ー覧<% end %></li>
                <li class="nav-item"><%=link_to bookmarks_index_path,class: " text-dark" do %><i class="fa-solid fa-heart"></i>ブックマーク<% end %></li>
                <li class="nav-item"><%=link_to destroy_customer_session_path,method: :delete,class: " text-dark" do %><i class="fa-solid fa-right-from-bracket"></i>ログアウト<% end %></li>
              </ul>
              <div class="header_icon">
                <p class="nav-item-post"><%=link_to new_post_item_path,class:"text-dark" do %><i class="fa-solid fa-pen-to-square"></i>お土産情報を投稿<% end %></p>
                <%=link_to customer_path(current_customer.id) do %>
                  <%=image_tag current_customer.get_profile_image.variant(gravity: :center, resize:"50x50^", crop:"50x50+0+0").processed, class: "rounded-circle" %>
                <% end %>
                <%=current_customer.name%></br>
                <p class="nav-follow">
                  <%=link_to  followings_customer_path(current_customer) do %>
                  <%=current_customer.followings.where(customers: {status: "active"}).count %>フォロー<% end %>
                </p>
                <p class="nav-follow">
                  <%=link_to followers_customer_path(current_customer) do%>
                  <%=current_customer.followers.where(customers: {status: "active"}).count %>フォロワー<% end %>
                </p>
              </div>
              <!--会員-->
            <%end%>
          <% elsif admin_signed_in? %>
            <!--管理者-->
            <ul class="navbar-nav  mx-auto">
              <li class="nav-item"><%=link_to post_items_path,class: " text-dark" do%><i class="fa-solid fa-gifts"></i> お土産ー覧<% end %></li>
              <li class="nav-item"><%=link_to admin_customers_path,class: " text-dark" do%><i class="fa-solid fa-users"></i> 会員一覧<% end %></li>
              <li class="nav-item"><%=link_to admin_review_path,class: " text-dark" do %><i class="fa-solid fa-star"></i>レビュー一覧<% end %></li>
              <li class="nav-item"><%=link_to admin_categorys_path,class: " text-dark" do%><i class="fa-solid fa-file"></i>カテゴリ一覧<% end %></li>
              <li class="nav-item"><%=link_to destroy_admin_session_path,method: :delete,class: " text-dark" do%><i class="fa-solid fa-right-from-bracket"></i>ログアウト<% end %></li>
            </ul>
            <div class="header_icon">
             <%= image_tag 'admin_icon.jpg',size: "65x65", class: "rounded-circle" %>
             <p style="display:inline-block">管理者</p>
            </div>
            <!--管理者-->
          <%else %>
            <!--ログインしていない状態-->
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item"><%=link_to new_customer_registration_path,class: " text-dark" do %><i class="fa-solid fa-user-plus"></i>新規登録<% end %></li>
              <li class="nav-item"><%=link_to new_customer_session_path,class: " text-dark" do %><i class="fa-solid fa-right-to-bracket"></i>ログイン<% end %></li>
            </ul>
            <!--ログインしていない状態-->
          <% end %>
        </div>
      </nav>
    </header>

    <body>
      <%= yield %>
    </body>

    <footer class="shadow" style="margin-top: auto; background-color:#FAF0E6; height:70px">
     <p class="pt-4" style="font-size:13px; text-align:center;">©️2022 Sakiko Hanam</p>
    </footer>

  </div>
</html>
